body {
    margin: 0;
    font-family: Rubik;
}

.navtopcentre {
    width: 100%;
    overflow: visible;
}

.navtopcontent {
    padding-left: auto;
    padding-right: auto;
}

.bit {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    display: inline;
}

.localforecast {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12.5px;
    padding-bottom: 10px;
    float: right;
    display: inline;
}

.realrsmclinks {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    display: inline;
}

.center {
    width: 100%;
    overflow: visible;
}

.tiny {
    font-size: 9pt;
    font-weight: normal;
    color: #000000;
}

.content {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}